.create_event_div {
    position: relative;
    display: block;
    width: 400px;
    left: 20px; /*760px;*/
    top: 16px; /*287px*/
    overflow: visible;
    background-color: rgb(252, 249, 247);
    text-align: center;
    box-shadow: 5px 5px rgb(173, 172, 172);
    border-radius: 10px;
    min-height: 200px;
    margin: 0;
}

.template_div {
    position: relative;
    display: block;
    background-color: rgb(252, 249, 247);
    box-shadow: 5px 5px rgb(173, 172, 172);
    border-radius: 10px;
    min-height: 200px;
    width: 600px;
    margin: 0;
    margin-top: 20px;
    top:40px;
    left: 16px;
    text-align: left;
}

.description {
    position: relative;
    padding: 0;
    margin: 0;
    top: 20px;
    left: 20px;
    float: left;
    width: 400px;
    min-height: 50px;
    /* list-style-position:inside;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}

.button {
    margin: auto;
    position: relative;
    border-radius: 4px;
    top: 10px;
    width: 150px;
    height: 30px;
    overflow: visible;
    background-color: rgb(69, 89, 143);
    color: rgba(255,255,255,1);
    white-space: nowrap;
    line-height: 15px;
    margin-top: -1.5px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: rgba(255,255,255,1);
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

#add_template_button {
    display: inline;
    float: right;
    top: -3px;
    right: 20px;
    margin: 0;
}

.delete_template_button {
    margin: 0;
    position: absolute;
    display: inline;
    float: right;
    top: 20px;
    right: 20px;
    border-radius: 4px;
    min-width: 150px;
    height: 30px;
    overflow: visible;
    background-color: rgb(69, 89, 143);
    color: rgba(255,255,255,1);
    white-space: nowrap;
    line-height: 15px;
    margin-top: -1.5px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: rgba(255,255,255,1);
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

#feedback_builder {
    top: 50px;
    width: 600px;
    text-align: left;
    min-height: 300px;
}

#feedback_type {
    display: block;
    margin: 0;;
    left: 20px;
    top: 20px;
    position: relative;
}

#question_textbox {
    top: 30px;
    left: 15px;
    display: block;
}

#multichoice_area {
    position: relative;
    top: 30px;
    left: 15px;
    margin: 0;
}

.choice {
    border: none;
    width: 70%;
}

.inputdiv {
    position: relative;
    margin: auto;
    width: 327px;
    height: 71px;
    /* left: 1px;*/
    /* top: 30px;  */
    overflow: visible;
}

.label {
    left: 0px;
    /* top: 8px; */
    position: relative;
    overflow: visible;
    width: 63px;
    white-space: nowrap;
    line-height: 18px;
    margin-top: -3px;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(0,0,0,1);
}

.inputbox {
    width: 327px;
    height: 38px;
    /* top: 23px; */
    left: 0px;
    position: relative;
    border-radius: 4px;
    display: block;
}

textarea {
    width: 327px;
    height: 90px;
    /* top: 23px; */
    left: 0px;
    position: relative;
    border: 2px solid black;
    border-radius: 4px;
    resize: none;
}

.template_list {
    margin: 0;
    padding: 0;
    top: 20px;
    left: 20px;
    position: relative;
}

.template_list li {
    list-style-position:inside;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 327px;
    font-family: Montserrat;
    font-style: normal;
    font-size: 15px;

    cursor: pointer;
    position: relative;
    padding: 5px 8px 6px 5px;
    background: #eee;
    transition: 0.2s;
    text-align: left;
    list-style-type: none;
  
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
.template_list li:nth-child(odd) {
    background: #f9f9f9;
}
  
  /* Darker background-color on hover */
.template_list li:hover {
    background: #ddd;
}

.delete_button {
    position: absolute;
    right: 0;
    top: auto;
}

#create_button {
    margin: auto;
    position: relative;
    top: 15px;
    left: 4px;
    border-radius: 4px;
    width: 327px;
    height: 48px;
    overflow: visible;
    background-color: rgb(69, 89, 143);
    color: rgba(255,255,255,1);
    white-space: nowrap;
    line-height: 15px;
    margin-top: -1.5px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: rgba(255,255,255,1);
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

#create_button:hover {
    background-color: rgb(52, 76, 141);
}

#anonymous_label {
    display: block;
    font-family: Montserrat;
    position: relative;
    top: 10px;
}
  
@media screen and (max-width: 700px) {
    #create_event_div {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}

body {
    margin: 0;
    font-family: "Lato", sans-serif;
}
  
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    cursor: pointer;
}
   
.sidebar a.active {
    background-color: rgb(69, 89, 143);
    color: white;
}
  
.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}
  
#content {
    margin-left: 200px;
    padding: 16px 16px;
    height: auto;
}

button:hover {
    background-color: rgb(52, 76, 141);
}

@media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    #content {margin-left: 0;}
}
  
@media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
}